DATABASE_URI=mongodb+srv://website:Ia8Kp5UMpyILMsWo@yapha.tmiyjyz.mongodb.net/payload-demo?retryWrites=true&w=majority
PAYLOAD_SECRET=YOUR_SECRET_HERE

# For Email Redirects
NEXT_PUBLIC_CMS_URL=http://localhost:3000

# Resend API
RESEND_API_KEY=YOUR_RESEND_KEY_HERE

